<h1> Organisations </h1>

<% @organisations.each do |org| %>
        <p> <strong> Orgnaisation Name: </strong> <%= org.name %></p>
        <p> <strong> Hours Rate: </strong> <%= org.hourlyRate %></p>
        <%= link_to "Edit", organisation_path(org), :class => 'btn btn-default' %>

        <%= link_to "New Organisation", new_organisation_url %>
<% end %>